body {
  background: url("../images/background.png") repeat left top;  
}

h1 {
  color: #003366;
  font-size: 36px;
  text-shadow: 2px 2px 2px #D6FFFF;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 a {
  color: #003366;
  font-size: 36px;
  text-shadow: 2px 2px 2px #D6FFFF;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 a:hover {
  color: #003366;
  font-size: 36px;
  text-shadow: 2px 2px 2px #D6FFFF;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  color: #003366;
  text-shadow: 2px 2px 2px #D6FFFF;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  color: #003366;
  text-shadow: 2px 2px 2px #D6FFFF;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  color: #003366;
  text-shadow: 2px 2px 2px #D6FFFF;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navbar ul {
  text-align: center;
  border:2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  background: url("../images/light_background.png") repeat left top;
}

#navbar li {
  font-family: Arial, sans-serif;
  display: inline;
  margin-right: 12px;
  margin-left: 12px;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  color: #D6FFFF;
  text-shadow: 2px 2px 2px #002447;
}

#main {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}


#header {
  margin-top: 60px;
  border:2px solid black;
  background: url("../images/light_background.png") repeat left top;
}

#navbar {
  font-weight: bold;
}

#navbar a {
  font-size: 20px;
}

.post1 {
  margin-top: 10px;
  border: 2px solid black;
  background: url("../images/light_background.png") repeat left top;
  background-position: 100px 100px;
  padding: 5px;
}

.post2 {
  margin-top: 10px;
  border: 2px solid black;
  background: url("../images/light_background.png") repeat left top;
  background-position: 200px 200px;
  padding: 5px;
}

.post3 {
  margin-top: 10px;
  border:2px solid black;
  background: url("../images/light_background.png") repeat left top;
  background-position: 300px 300px;
  padding: 5px;
}

.item1 {
  border:2px solid black;
  background: url("../images/light_background.png") repeat left top;
  background-position: 100px 100px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.item2 {
  border:2px solid black;
  background: url("../images/light_background.png") repeat left top;
  background-position: 200px 200px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.item3 {
  border:2px solid black;
  background: url("../images/light_background.png") repeat left top;
  background-position: 300px 300px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.item_title {
  background-color: #96A9BA;
  height: 30px;
  padding: 5px;
  border-bottom:2px solid black;
  font-family: Arial, sans-serif;
}

.item_body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_body a {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.item_game_body {
  min-height: 165px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_post_body {
  min-height: 165px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #B1BFCB;
}

.item_post_body h2 {
  text-align: left;
  text-shadow: none;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 8px;
  font-size: 20px;
}

.item_post_body h3 {
  text-align: left;
  text-shadow: none;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 8px;
  font-size: 16px;
}

.item_post_body img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  display: block;
  border: 2px solid black;
}

.item_post_body li {
  font-family: Arial, sans-serif;
}

.item_post_body img + em {
  font-size: 12px;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: -15px;
}

.item_game_body a {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

p {
  font-family: Arial, sans-serif;
  line-height: 145%;
  margin: 0px;
}

iframe {
  margin-top: 20px;
  margin-bottom: 10px;
}

.date p {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #555555;
}

.item_title table {
  line-height: 25px;
  width: 650px;
}

.post1 table {
  width: 650px;
}

.post2 table {
  width: 650px;
}

.post3 table {
  width: 650px;
}

.screenshot {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  float: left;
  height: 150px;
  width: 150px;
  border:2px solid black;
}

.banner {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  float: left;
  height: 150px;
  width: 600;
  border:2px solid black;
}

.dev_time {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #D6FFFF;
  margin-top: 6px;
  margin-bottom: 15px;
}

.hourglass {
  margin-top: 5px;
  margin-right: 2px;
  float: left;
  height: 24px;
  width: 24px;
  border: 0px;
}

.download {
  vertical-align: bottom;
  margin-top: 15px;
  text-align: center;
  margin-right: 130px;
}

.download a {
  font-family: Arial;
  font-weight: bold;
  margin-left: 120px;
  font-size: 18px;
}

.photo {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 602px;
  border:2px solid black;
}

.photo_portrait {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 800px;
  width: 602px;
  border:2px solid black;
}

pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #223; 
}

code {
  color: #eef;
  padding: 1px 5px; 
  line-height: 125%;
}

pre {
  margin: 20px;
  padding: 12px 12px;
  overflow-x: auto;
  margin-left: -40px;
  width: 575;
}


pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
  display: block;
  margin-left: 0px;
}

#disqus_thread {
  border: 2px solid black;
  background-color: #B1BFCB;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #88aa88 } /* Literal.String */
.highlight .na { color: #aaaacc } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #777799 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

