---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            {% for art in site.data.art %}
                <div class="item{{forloop.index | modulo: 3 | plus: 1}}">
                    <div class="item_title">
                        <table>
                            <tr>
                                <td>
                                    {% if art.title.size > 35 %}
                                        <h3>{{art.title}}</h3>
                                    {% else %}
                                        <h2>{{art.title}}</h2>
                                    {% endif %}
                                </td>
                                <td class="date">
                                    <p>{{art.date}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item_game_body">
                        <p>{{art.description}}</p>
                        {% if art.orientation == 'Portrait' %}
                            <img class="photo_portrait" src={{art.image}} alt={{art.title}}>
                        {% else %}
                            <img class="photo" src={{art.image}} alt={{art.title}}>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>
