---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}
            
            <div class="item1">
                <div class="item_title">
                    <h2>Get in Touch!</h2>
                </div>
                <div class="item_body">
                    <p>The best way to contact me or keep up with my endeavors is on <a href="http://twitter.com/rlangewi" target="_blank">Twitter</a>.</p>
                </div>
            </div>
        </div>
    </body>
</html>
