---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            {% for game in site.data.games %}
                <div class="item{{forloop.index | modulo: 3 | plus: 1}}">
                    <div class="item_title">
                        <table>
                            <tr>
                                <td>
                                    {% if game.title.size > 35 %}
                                        <h3>{{game.title}}</h3>
                                    {% else %}
                                        <h2>{{game.title}}</h2>
                                    {% endif %}
                                </td>
                                <td class="date">
                                    <p>{{game.date}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item_game_body">
                        <img class="screenshot" src="{{game.screenshot}}" alt="{{game.title}}">
                        <img class="hourglass" src="images/games/hourglass.png">
                        <p class="dev_time">Development Time: {{game.dev_time}}</p>
                        <p>{{game.description}}</p>
                        <div class="download">
                            <a href={{game.link}} target="_blank">Download Page</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>
