---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            <div class="item1">
                <div class="item_title">
                    <table>
                        <tr>
                            <td>
                                <h2>I Blog Over on Ludo Lodge!</h2>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="item_game_body">
                    <a href="http://www.ludolodge.com" target="_blank">
                        <img class="banner" src="/images/ludo_lodge.png" alt="ludo_lodge">
                    </a>
                    <p>I started a new blog <a href="http://www.ludolodge.com" target="_blank">Ludo Lodge</a> where I talk about games, game development and design, and creative living in general. Check it out and say hi in the comments!</p>
                </div>
            </div>

        </div>
    </body>
</html>
