---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            {% for music in site.data.music %}
                <div class="item1">
                    <div class="item_title">
                        <table>
                            <tr>
                                <td>
                                    {% if music.title.size > 35 %}
                                        <h3>{{music.title}}</h3>
                                    {% else %}
                                        <h2>{{music.title}}</h2>
                                    {% endif %}
                                </td>
                                <td class="date">
                                    <p>{{music.date}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item_body">
                        <p>{{music.description}}</p>
                        {{music.content}}
                    </div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>
