---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            {% for other in site.data.other %}
                <div class="item{{forloop.index | modulo: 3 | plus: 1}}">
                    <div class="item_title">
                        <table>
                            <tr>
                                <td>
                                    {% if other.title.size > 35 %}
                                        <h3>{{other.title}}</h3>
                                    {% else %}
                                        <h2>{{other.title}}</h2>
                                    {% endif %}
                                </td>
                                <td class="date">
                                    <p>{{other.date}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item_game_body">
                        <img class="screenshot" src="{{other.screenshot}}" alt="{{other.title}}">
                        <img class="hourglass" src="images/games/hourglass.png">
                        <p class="dev_time">Development time: {{other.dev_time}}</p>
                        <p>{{other.description}}</p>
                        {% if other.link.size > 0 %}
                            <div class="download">
                                <a href={{other.link}} target="_blank">Link</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>
