---
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            {% for puzzle in site.data.puzzles %}
                <div class="item{{forloop.index | modulo: 3 | plus: 1}}">
                    <div class="item_title">
                        <table>
                            <tr>
                                <td>
                                    {% if puzzle.title.size > 35 %}
                                        <h3>{{puzzle.title}}</h3>
                                    {% else %}
                                        <h2>{{puzzle.title}}</h2>
                                    {% endif %}
                                </td>
                                <td class="date">
                                    <p>{{puzzle.date}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item_game_body">
                        {{puzzle.content}}
                    </div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>
