<head>
    <meta charset="utf-8">

    <title>Ryan Langewisch</title>

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
