<div id="header">
    <h1><a href="index.html">Ryan Langewisch</a></h1>
</div>
<div id="navbar">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/games.html">Games</a></li>
        <li><a href="/music.html">Music</a></li>
        <li><a href="/art.html">Art</a></li>
        <li><a href="/puzzles.html">Puzzles</a></li>
        <li><a href="/other.html">Other</a></li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</div>
