---
comments: true
---

<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            {% include navbar.html %}

            <div class="item1">
                <div class="item_title">
                    <table>
                        <tr>
                            <td>
                                {% if page.title.size > 35 %}
                                    <h4>{{page.title}}</h4>
                                {% else %}
                                    <h2>{{page.title}}</h2>
                                {% endif %}
                            </td>
                            <td class="date">
                                <p>{{page.displaydate}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="item_post_body">
                    {{ content }}
                </div>
            </div>

            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */
                var disqus_config = function () {
                    this.page.url = ""; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//ryanlangewisch.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </body>
</html>

